@page "/"
@page "/traces/{SelectedTraceId}"

@using Microsoft.AspNetCore.Components.QuickGrid

<PageTitle>Traces</PageTitle>

<div class="page">

    <h1>Traces</h1>

    <div class="traces">
        <QuickGrid Items="this.FilteredTraces"
                   Virtualize="true"
                   Theme="dark"
                   ItemKey="t => t.Id"
                   ItemSize="28">

            <TemplateColumn Title="Start Time"
                            SortBy="this.TraceStartGridSort"
                            Sortable="true"
                            IsDefaultSortColumn="true"
                            InitialSortDirection="SortDirection.Descending">
                <div>
                    @context.Start.ToString("HH:mm:ss.fff")
                </div>
            </TemplateColumn>

            <TemplateColumn Title="Name" Align="Align.Right">
                <ColumnOptions>
                    <div class="trace-names">
                        @foreach (var name in this.TraceNames)
                        {
                            <label>
                                <input type="checkbox" @onchange="() => this.ToggleTraceNameFilter(name)" checked="@(!mIgnoredTraceNames.Contains(name))" />
                                <span>
                                    @name
                                </span>
                            </label>
                        }
                    </div>
                </ColumnOptions>

                <ChildContent>
                    <NavLink href="@($"traces/{Uri.EscapeDataString(context.Id)}")">
                        @(context.RootSpan?.Name ?? context.Id)
                    </NavLink>
                </ChildContent>
            </TemplateColumn>

            <PropertyColumn Title="Spans"
                            Property="@(t => t.Spans.Count)"
                            Sortable="true"
                            Align="Align.Right">
                <ColumnOptions>
                    <div class="inputs">
                        <label>
                            <span>
                                Min
                            </span>
                            <input type="number" @bind="this.SpansMinimum" />
                        </label>
                    </div>
                </ColumnOptions>
            </PropertyColumn>

            <PropertyColumn Title="Duration"
                            Property="@(t => t.Duration)"
                            Sortable="true"
                            Align="Align.Right">
                <ColumnOptions>
                    <div class="inputs">
                        <label>
                            <span>
                                Min (seconds)
                            </span>
                            <input type="number" @bind="this.DurationMinimum" />
                        </label>
                        <label>
                            <span>
                                Max (seconds)
                            </span>
                            <input type="number" @bind="this.DurationMaximum" />
                        </label>
                    </div>
                </ColumnOptions>
            </PropertyColumn>
        </QuickGrid>
    </div>

    @{
        var selectedTrace = this.SelectedTrace;
        if (selectedTrace is not null)
        {
            <div class="trace">
                <canvas @ref="this.TraceFlameCanvas"
                        width="600"
                        height="400" />

                <div style="overflow:auto; width: 600px;">
                    @if (this.SelectedSpan is not null)
                    {
                        <dl class="span-info">
                            <dt>Name</dt>
                            <dd class="name">
                                @this.SelectedSpan.Name
                            </dd>
                            <dt>Duration</dt>
                            <dd class="duration">
                                @(this.SelectedSpan.EndTime - this.SelectedSpan.StartTime)
                            </dd>
                            <dt>Kind</dt>
                            <dd class="kind">
                                @this.SelectedSpan.Kind
                            </dd>
                            <dt>Message</dt>
                            <dd class="status-message">
                                @this.SelectedSpan.StatusMessage
                            </dd>
                            @foreach (var spanAttribute in this.SelectedSpan.Attributes.OrderBy(e => e.Key))
                            {
                                <dt>
                                    @spanAttribute.Key
                                </dt>
                                <dd class="value" title="@spanAttribute.Value">
                                    @spanAttribute.Value
                                </dd>
                            }
                            <div class="events">
                                @foreach (var spanEvent in this.SelectedSpan.Events)
                                {
                                    <div class="event">
                                        <div class="name">
                                            @spanEvent.Name
                                        </div>
                                        <div class="time">
                                            @spanEvent.Time
                                        </div>
                                        <div class="attributes">
                                            @foreach (var eventAttribute in spanEvent.Attributes)
                                            {
                                                <div class="event">
                                                    <div class="key">
                                                        @eventAttribute.Key
                                                    </div>
                                                    <div class="value">
                                                        @eventAttribute.Value
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </dl>
                    }
                </div>
            </div>
        }
    }
</div>
